<div>
  <div class="photo" [ngStyle]="{'background-image': 'url(' + dish.pic + ')'}"></div>
  <div class="dishDetails">
    {{dish.name}}
    <span *ngIf="dish.isLongest">(Start Making This First)</span>
    <div>Max Time Before Starting Making: <span [ngStyle]="{'color': passedColor }">{{toTime(passedMinutes)}}:{{toTime(passedSeconds)}}</span>/{{toTime(maxMinutesBeforeStartingMaking)}}:{{toTime(maxSecondsBeforeStartingMaking)}}</div>
    <div>{{dish.orderId}}</div>
  </div>
  <div class="dishButtons clearAfter">
    <div class="redBox" title="delete" (click)="deleteDish(dish)"></div>
    <div class="orangeBox" title="change status" (click)="updateInP(dish)"></div>
    <div class="greenBox" (click)="updateDone(dish)"></div>
  </div>
</div>