<div class="dishCont">
  <div class="photo" [ngStyle]="{'background-image': 'url(' + dish.pic + ')'}">
  </div>
  <div class="dishName">
    <h2>{{dish.name}}</h2>
    <div>Max Time Before Starting Making:
      <span [ngStyle]="{'color': passedColor }">{{toTime(passedMinutes)}}:{{toTime(passedSeconds)}}</span>/{{toTime(maxMinutesBeforeStartingMaking)}}:{{toTime(maxSecondsBeforeStartingMaking)}}
    </div>
    <h3>Table: {{dish.tableId}}</h3>
  </div>
  <div class="dishTime dishTimeRed">
    1:00
  </div>
  <div class="dishInstruction">
    {{dish.orderId}}
  </div>
  <div class="dishButtons">
    <div class="dishButton redBox" title="delete" (click)="deleteDish(dish)"></div>
    <div class="dishButton orangeBox" title="change status" (click)="updateInP(dish)"></div>
    <div class="dishButton greenBox" (click)="updateDone(dish)"></div>
  </div>
</div>