.dishButton {
  width: 100px;
  height: 100px;
}

.green-box {
  background: url(/assets/images/bellbutton.png) no-repeat;
  float: right;
}

.return-box {
  background: url(/assets/images/returns.png) no-repeat;
  position: relative;
  left:70px;
}

.order-container {
  text-align: left;
} 

.meal-out-of {
  grid-area: outof;
}

.meal-photo-container {
  grid-area: photo;
  /* width: 130px; */
}

.meal-photo {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  width: 100px;
  border: 1px solid black;
  position: relative;
  right: 120px;
}

.ready-container {
  grid-area: ready;
  /* width: 130px; */
}

.return-container {
  grid-area: return;
}

.dishes-container {
  grid-area: dishes;
  width: 220px;
}

.dish-list-container {
  grid-area: dishlist;
  background-color:#4a4a4a!important;
}

.dish-status {
  width: 100px;
  height: 100px;
}

.dish-status-waiting {
  background: url(/assets/images/notcooking.png) no-repeat;
  display: inline-block; 
  width: 100px;
  height: 100px;
}
.dish-status-in-making {
  background: url(/assets/images/cooking.png) no-repeat;
  display: inline-block; 
  width: 100px;
  height: 100px;
}
.dish-status-completed {
  background: url(/assets/images/bell.png) no-repeat;
  display: inline-block; 
  width: 100px;
  height: 100px;
}

.meal-container {
  display: grid;
  grid-template-areas:
    'photo dishes outof ready return'
    'dishlist dishlist dishlist dishlist dishlist';
  padding: 10px;
  margin-left: 30px;
  border-bottom: 2px solid #e5e4e4;
}

.meal-container > div {
  background: #fafafa;
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
}

.dish-details-container {
  display: grid;
  grid-template-areas: 'name status ok return'
}

.dish-status-container {
  grid-area: status;
}

.dish-name {
  grid-area: name;
  width: 120px;
  color: #fafafa;
}

.dish-ok {
  grid-area: ok;
  background: url(/assets/images/okbutton.png) no-repeat;
  display: inline-block; 
  width: 70px;
  height: 70px;
  position: relative;
  left: 205px;
}

.dish-return {
  grid-area: return;
  background: url(/assets/images/return.png) no-repeat;
  display: inline-block; 
  width: 70px;
  height: 70px;
  position: relative;
  left: 90px;
}
table {
  border-left: 2px solid #fafafa;
  border-right: 2px solid #fafafa;
}