<div class="order-container" *ngFor="let orderId of objectKeys(orders)">
  order ID: {{orderId}}, Table Number: {{orders[orderId].orderTable}}
  <div class="meal-container" *ngFor="let mealId of objectKeys(orders[orderId].meals)" (click)="showExtendedOrderDetails(orderId)">
    <div class="meal-photo-container">
      <img class="meal-photo" src={{orders[orderId].meals[mealId].pic}} />
    </div>
    <div class="dishes-container">
      <h3>{{orders[orderId].meals[mealId].name}}</h3>
    </div>
    <div class="meal-out-of">
      <span>{{orders[orderId].meals[mealId].readyDishes}}/{{objectKeys(orders[orderId].meals[mealId].dishes).length}}</span>
    </div>
    <div class="ready-container">
      <div class="green-box dishButton" (click)="mealIsReady(orderId, mealId)"></div>
    </div>
    <div class="return-container">
      <div class="return-box dishButton"></div>
    </div>
    <div class="dish-list-container" *ngIf="orders[orderId].showExtendedDetails">
      <div class="dish-details-container" *ngFor="let dishId of objectKeys(orders[orderId].meals[mealId].dishes)">
        <div class="dish-name">{{dishId}}</div>
        <table class="dish-status-container">
          <td class="dish-status">
            <div class="dish-status-waiting" *ngIf="orders[orderId].meals[mealId].dishes[dishId].status === 0"></div>
          </td>
          <td class="dish-status">
            <span class="dish-status-in-making" *ngIf="orders[orderId].meals[mealId].dishes[dishId].status === 1"></span>
          </td>
          <td class="dish-status">
            <span class="dish-status-completed" *ngIf="orders[orderId].meals[mealId].dishes[dishId].status === 2"></span>
          </td>
        </table>
        <div class="dish-ok"></div>
        <div class="dish-return"></div>        
      </div>
    </div>
  </div>
</div>