<!-- <section>
  <div class="dishCont" *ngFor="let dish of dishList">
    <div class="photo" [ngStyle]="{'background-image': 'url(' + dish.pic + ')'}"></div>
    <div class="dishDetails">{{dish?.name}} | {{dish.totalTime}} | {{dish.description}} | status: {{dish.status}} | tableId: {{dish.table}} | time:
      {{dish.time}}</div>
    <div class="dishButtons clearAfter">
      <div class="redBox" title="delete" (click)="deleteDish(dish)"></div>
      <div class="orangeBox" title="change status" (click)="updateInP(dish)"></div>
      <div class="greenBox" (click)="updateDone(dish)"></div>
    </div>
  </div>
</section> -->
<div *ngFor="let orderId of objectKeys(orders)">
  <div *ngFor="let mealId of objectKeys(orders[orderId].meals)">
    <div class="dishCont">
      <div class="photo" [ngStyle]="{'background-image': 'url(' + orders[orderId].meals[mealId].pic + ')'}">
      </div>
      <div class="dishName">
        <h2>{{dish.name}}</h2>
        <h3>Cook: cook name</h3>
      </div>
      <div class="dishTime dishTimeRed">
        1:00
      </div>
      <div class="dishInstruction">
        {{dish.orderId}}
      </div>
      <div class="dishButtons">
        <div class="dishButton redBox" title="delete" (click)="deleteDish(dish)"></div>
        <div class="dishButton orangeBox" title="change status" (click)="updateInP(dish)"></div>
        <div class="dishButton greenBox" (click)="updateDone(dish)"></div>
      </div>
    </div>
  </div>
</div>

<div *ngFor="let orderId of objectKeys(orders)">
  <div *ngFor="let mealId of objectKeys(orders[orderId].meals)">
    <button class="greenBox" (click)="mealIsReady(orderId, mealId)"></button>
    <div (click)="showExtendedOrderDetails(orderId)">
      <img height="42" width="42" src={{orders[orderId].meals[mealId].pic}} />
      <span>{{orders[orderId].meals[mealId].readyDishes}} Out Of {{objectKeys(orders[orderId].meals[mealId].dishes).length}}</span>
      <div *ngFor="let dishId of objectKeys(orders[orderId].meals[mealId].dishes)">
        <span>{{dishId}}</span>
      </div>
      <div class="accor" *ngIf="orders[orderId].showExtendedDetails">
        <div *ngFor="let dishId of objectKeys(orders[orderId].meals[mealId].dishes)">
          <span>{{dishId}}</span>
          Status: {{orders[orderId].meals[mealId].dishes[dishId].status}}
        </div>
      </div>
    </div>
  </div>
</div>
